@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');


/*nav Bar*/
.navBar{
  background: none;
  display: flex;
  padding: .5rem 0;
}
.logo{
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 36px;
  font-weight: 900;
  margin-left: 8.5rem;
  text-decoration: none;
  width: 25%;
}
.navList{
  display: flex;
  width:40%;
  justify-content: space-around;
  list-style-type: none;
  
}
.listItem{
  text-decoration: none;
  color: white;
}
/*nav buttons*/
.navBtns{
  display: flex;
  width: 13%;
  justify-content: space-around;
  align-content: center;
}
.loginBtn{
  background-color:#99580B;
  border: solid #99580B;
  border-radius: 20px;
  padding: 0 1rem;
  color: white;
  font-size: medium;
  height: 37px;
  cursor: pointer;
}

.cartIcon{
  color:white;
}
.counter{
  background-color:#99580B;
  color: white;
  border-radius: 50%;
  padding: .2rem .5rem;
}

.userContainer{
  display: flex;
  cursor: pointer;
}
.userName{
  color: white;
}

/*nav actions*/
.hidden{
  display: none;
}
.active {
  font-weight: 700;
}
